body{
    background-image: radial-gradient(#397879, #185050) ;
    color: #fff;   
}

header{
    background-image: linear-gradient(#b8df10, #8ea818);
    text-align: center;
    min-width: 330px;
}

.titulo{
    font-size: 24px;
    padding: 15px;
}

.pontos{
    font-size: 20px;
}

main{
    font-size: 20px;
    max-width: 400px;
    min-width: 330px;
    height: 470px;
    margin: 0 auto;
}

button{
    border: 1px solid #000;
    background-color: #b8df10;
    color: #fff;
    font-size: 30px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

button:hover{
    background-color: #8eac0d;
    transition: 0.2s ease-in-out;
    transform: scale(1.07);
    cursor: pointer;
}

ul{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 450px;
}

p{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.painel-nos{
    float: left;
    width: 100px;
    height: 400px;
    padding-left: 50px;
}

.painel-eles{
    width: 100px;
    height: 400px;
    float: right;
    padding-right: 50px;
    
}

#amount-eles{
    font-size: 35px;
    padding-top: 5px;
}

#amount-nos{
    font-size: 35px;
    padding-top: 5px;
}


