body{
    background-image: radial-gradient(#397879, #185050) ;
    color: #fff;
    max-width: 1920px;
    min-width: 500px;
    
}

header{
    background-image: linear-gradient(#b8df10, #8ea818);
    text-align: center;
    min-width: 100%;
}

.titulo{
    font-size: 24px;
    padding: 15px;
}

.pontos{
    font-size: 20px;
}

main{
    font-size: 20px;
    max-width: 1920px;
    height: 600px;
}

.marcador-dentro{
    height: 500px;
    width: 600px;
}

button{
    border: 1px solid #000;
    background-color: #b8df10;
    color: #fff;
    font-size: 30px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

button:hover{
    background-color: #8eac0d;
    transition: 0.2s ease-in-out;
    transform: scale(1.07);
    cursor: pointer;
}

ul{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 500px;
}

p{
    text-align: center;
}

footer{
    padding: 15px;
    text-align: center;
    font-size: 25px;
    min-height: 400px;
}

.assinatura{
    border: 2px solid #b8df10;
    width: 180px;
    text-align: center;
    border-radius: 15px;
}

.painel-nos{
    float: left;
    width: 100px;
    height: 400px;
    padding: 15px;
    padding-left: 50px;
}

.painel-eles{
    padding: 15px;
    width: 100px;
    height: 400px;
    float: right;
    padding-right: 50px;
    
}

#amount-eles{
    font-size: 35px;
    padding-top: 5px;
}

#amount-nos{
    font-size: 35px;
    padding-top: 5px;
}

.titulo-time{
    padding-top: 25px;
}
